@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 8rem;
  background-color: white;
  /* border-bottom: 1px solid rgb(238, 238, 238); */
  position: fixed;
  z-index: 2;
}

header figure {
  float: left;
}

header div.menu-list {
  float: right;
}

header div.menu-list ul {
  margin: 0;
  padding: 0;
  padding-right: 2rem;
  list-style: none;
  display: flex;
  gap: 2rem;
}

header div.menu-list ul li{
  padding: 0.5rem;
  padding-top: 2rem;
}

header div.menu-list ul li a{
  text-decoration: none;
  color: black;
}

header img.company-logo {
  width: 20rem;
  transition: .3s linear;
}

.overlay01 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  opacity: 0;
  visibility: hidden;
  transition: .3s linear;
}

.close-menu {
  padding: 2rem;
  text-align: right;
  display: none;
}

.open-menu{
  float: right;
  margin-top: 2rem;
  padding: 1rem;
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.open-menu i.fa-xmark{
  display: none;
}

/* Content */
main {
  /* height: 100vh; */
  height: 100%;
  padding: 0 20rem;
  padding-top: 7.1rem;
  transition: 1s ease;
}

.first-section img.home-view-1 {
  width: 100%;
  object-position: center;
}

.second-section {
  padding: 0 5rem;
}

.second-section p.section-title {
  font-size: 1.5rem;
  /* width: 100%;
  text-align: start; */
}

.grid-wrapper{
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: 20rem 20rem 20rem;
  gap: 3rem;
  margin-bottom: 4rem;
  direction: ltr;
}

.grid-wrapper.reverse {
  direction: ltr;
}

.grid-wrapper.reverse div {
  direction: ltr;
}

.grid-wrapper img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
}
.grid-wrapper h1 {
  font-size: 3.5rem;
  font-weight: 300;
  font-style: italic;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  line-height: 5rem;
}

.grid-wrapper p {
  line-height: 2rem;
}

.third-section {
  height: 40rem;
  background-image: url('./assets/images/home_view_outside_4.png');
  background-attachment: fixed;
  background-position: left;
  position: relative;
  z-index: 0;
  background-size: 72%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20%;
}

.third-section div.company-call-now {
  /* border: 1px solid red; */
  color: white;
  width: auto;
  text-align: center;
  padding: 1rem;
}

.third-section div.company-call-now h3 {
  text-shadow: 1px 1px 2px gray;
}
.third-section div.company-call-now h1 {
  text-shadow: 1px 1px 2px gray;
  font-weight: 300;
  font-size: 3.6rem;
  font-family: 'Times New Roman', Times, serif;
}

.third-section div.company-call-now button {
  padding: 1.2rem 3rem;
  font-size: large;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  font-weight: bolder;
}

.third-section div.company-realtor {
  /* border: 1px solid blue; */
  color: black;
  width: auto;
  text-align: center;
  padding: 1rem;
}

.third-section div.company-realtor img {
  height: 20rem;
  width: 20rem;
  object-fit: contain;
  border-radius: 50%;
}

.third-section div.company-realtor h2{
  font-weight: 200;
  font-style: italic;
}

.third-section div.company-realtor h3 {
  font-weight: 500;
}

@media only screen and (max-width: 500px) {
  header img.company-logo {
    margin-top: 5%;
    width: 15rem;
  }

  main {
    padding: 10px;
    padding-top: 30rem;
  }

  main figure {
    margin: 0px;
  }
}

@media only screen and (min-width: 901px) {
  .menu-list-container{
    display: block ! important;
    opacity: 1 ! important;
  }
}

@media only screen and (max-width: 1500px) {
  main {
    padding: 0 10rem;
    padding-top: 8.5rem;
  }

  
  .grid-wrapper{
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .grid-wrapper.reverse > div:nth-child(1) { order: 3; }
  .grid-wrapper.reverse > div:nth-child(2) { order: 3; }
  .grid-wrapper.reverse > div:nth-child(3) { order: 1; }

  .second-section {
    padding: 0 2rem;
  }

  .grid-wrapper h1 {
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .second-section p.section-title {
    margin-bottom: 0;
    /* width: 100%;
    text-align: start; */
  }

  .grid-wrapper p {
    margin-top: 0;
  }

  .third-section {
    /* flex-direction: column; */
    /* height: 40rem; */
    background-attachment: local;
    flex-direction: column;
    background-size: 100%;
    /* background-position: left;
    position: relative;
    z-index: 0;
    background-size: 72%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20%; */
  }
}
@media only screen and (max-width: 100px)  {
  main {
    padding: 0 5rem;
    padding-top: 8.5rem;
  }
}

@media only screen and (max-width: 900px) {

  .open-menu{
    display: block;
    z-index: 10;
    position: absolute;
    right: 0;
  }

  .menu-list-container{
    display: none;
  }

  .close-menu {
    display: block;
  }

  .overlay01 {
    opacity: 1;
    visibility: visible;
  }

  header div.menu-list {
    z-index: 2;
    background-color: white;
    height: 100vh;
    width: 16rem;
    position: absolute;
    right: 0;
  }

  header div.menu-list ul {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    margin-top: 5rem;
  }

  main {
    padding: 0 1rem;
    padding-top: 8.5rem;
  }

}